1. Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.

In [ ]:
path_to_file = "/home/jupyter-v-scherbak-20/shared/homeworks/python_ds_miniprojects/2/bookings.csv"

In [5]:
import pandas as pd

bookings = pd.read_csv(path_to_file, sep = ";")

bookings_head = bookings.head(7)

In [10]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [12]:
bookings.shape[1]

21

In [21]:
bookings.dtypes.value_counts()

int64      10
object     10
float64     1
dtype: int64

 2. Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.

In [80]:
def unic_name_columns (column_name):
    return column_name.lower().replace(" ", "_")

bookings = bookings.rename(columns = unic_name_columns)

3. Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.

In [89]:
bookings.query("is_canceled == 0") \
    .groupby("country", as_index = False) \
    .agg({"is_canceled": "count"}) \
    .sort_values("is_canceled", ascending = False) \
    .head()

    country  is_canceled
125     PRT        21071
57      GBR         9676
54      FRA         8481
50      ESP         6391
42      DEU         6069

4. На сколько ночей в среднем бронируют отели разных типов?

In [93]:
bookings.groupby("hotel") \
    .agg({"stays_total_nights": "mean"}) \
    .round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

5. Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

In [107]:
bookings.query("assigned_room_type != reserved_room_type") \
    .shape

(14917, 21)

6. Проанализируйте даты запланированного прибытия. – На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?– Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов

In [114]:
bookings.groupby(["arrival_date_year", "arrival_date_month"]) \
    .agg({"hotel": "count"}) \
    .sort_values("hotel")

                                      hotel
arrival_date_year arrival_date_month
2016              January              2248
2015              November             2340
                  July                 2776
                  December             2920
2017              January              3681
2016              December             3860
2015              August               3889
2016              February             3891
2017              February             4177
2016              November             4454
                  July                 4572
                  March                4824
2017              August               4925
2015              October              4957
2017              March                4970
2016              August               5063
2015              September            5114
2016              June                 5292
2017              July                 5313
2016              September            5394
                  April                5428
                  May                  5478
2017              June                 5647
                  April                5661
2016              October              6203
2017              May                  6313

In [120]:
bookings.query("is_canceled == 1 and hotel == 'City Hotel'") \
    .groupby(["arrival_date_year", "arrival_date_month"]) \
    .agg({"hotel": "count"}) \
    .sort_values("hotel")

                                      hotel
arrival_date_year arrival_date_month
2015              November              301
2016              January               438
2015              December              668
2016              February              930
2015              July                  939
2017              February              971
2016              July                 1043
2017              January              1044
2016              December             1072
                  March                1108
2017              August               1123
2015              August               1232
2016              August               1247
2017              March                1278
2015              October              1321
2017              July                 1324
2016              November             1360
                  May                  1436
                  April                1539
2015              September            1543
2016              September            1567
                  June                 1720
2017              June                 1808
                  April                1926
2016              October              1947
2017              May                  2217

In [122]:
bookings.query("is_canceled == 1 and hotel == 'City Hotel'") \
    .groupby("arrival_date_year") \
    .arrival_date_month \
    .value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

7. Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [128]:
bookings[['adults','children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

8. Создайте колонку total_kids, объединив children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

In [126]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [129]:
bookings["total_kids"] = bookings["babies"] + bookings['children']

In [132]:
bookings.groupby("hotel") \
    .total_kids \
    .mean() \
    .round(2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

In [133]:
bookings.groupby("hotel") \
    .agg({"total_kids": "mean"}) \
    .round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

9. Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

In [151]:
bookings["has_kids"] = bookings.total_kids >0

In [157]:
yes_deti = bookings.query("has_kids == True")
yes_deti.shape[0]

9332

In [158]:
no_deti = bookings.query("has_kids == False")
no_deti.shape[0]

110058

In [159]:
yes_deti.shape[0]+no_deti.shape[0] == bookings.shape[0]

True

In [161]:
yes_deti_canc = yes_deti.query("is_canceled == 1").shape[0]

In [162]:
no_deti_canc = no_deti.query("is_canceled == 1").shape[0]

In [168]:
churn_rate =  yes_deti_canc / yes_deti.shape[0] *100
round(churn_rate, 2)

34.92

In [169]:
churn_rate_2 =  no_deti_canc / no_deti.shape[0] *100
round(churn_rate_2, 2)

37.22